*{
margin: 0;
padding: 0;
}
#outer
{
  height: auto;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: black;
}
#searchInput{
    height: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: #c31835;
    color: white;
    margin-top: 60px;
}
::placeholder {
    color: white;
    font-size: 20px;
  }
  input:focus{
    outline: none;
  }
  #userDetail{
    height: 250px;
    width: 60%;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    background-color: #c31835;
  }
  #divLeft{
    height: 60%;
    width: 23%;
    border-radius: 50%;
    margin: auto;
    
  }
  #divRight{
    height: 80%;
    width: 65%;
    margin: 45px auto;
    color: black;
    text-align: left;
    
}
img{
    border-radius: 50%;
}
#divRightBottom
{
  height: 50%;
  width: 100%;
}
#viewProfile{
  height: 28px;
  border: none;
  background: black;
  color: white;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 4px;
  padding: 5px;
}
#divRightBottom>button{
  height: 28px;
  border: none;
  background: black;
  color: white;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 4px;
  padding: 5px;
}

#divRightBottom>span{
  margin-right: 65px;
  color: white;
}
#divRightTop{
  height: 50%;
  width: 100%;
  color: white;
}
#divRightTop>p{
  margin-top: 25px;
}
#divRightTop>h3{

  padding-top: 10px;
}
.displayBolck{
  display:visible;
}
.displayNone{
  visibility: hidden;
  height: 0%;
  width: 0%;
}
#userDetail1{
  height: 250px;
    width: 60%;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    background-color: #c31835;
}
#footer
{
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  padding-top: 10px;
  background-color: #c31835;
}
#profileOuter{
  color: white;
}
#navbarprofile{
  height: 60px;
  width: 100%;
  display: flex;
  background-color: rgb(2, 2, 2);
  /* justify-content: space-around;
  align-items: center; */
}
#navInp
{
  height: 18px;
    width: 20%;
    border: 1pxwhite;
    background: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
#navDivLeft
{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#navDivRight{
  height: 100%;
  width: 10%;
  display: flex;
  padding-left: 17%;
  padding-right: 3%;
  justify-content: space-around;
  align-items: center;
}
#mainDivBody{
  height: 700px;
  width: 100%;
  /* background-color: aquamarine; */
}
#mainDivTop{
  height: 70px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #afafaf;
  background-color: aliceblue;
}
#leftMaindivTop{
  height: 100%;
  width: 40%;
  background-color: #ffffff;
}
#RightMaindivTop{
  height: 60px;
    width: 60%;
    display: flex;
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
    color: black;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: flex-end;
}
#RightMaindivTop>span{
  margin-right: 50px;
  margin-left: 10px;
  /* text-decoration: underline; */
}
#mainMiddle{
    height: 600px;
    width: 100%;
    display: flex;
    color: black;
    /* background-color: #c31835; */
}
#midLeftOuter{
  height: 100%;
  width: 40%;
  position: relative;
  /* background-color: #afafaf; */
}
#midRightOuter{
  height: 100%;
  width: 60%;
  background-color: rgb(255, 255, 255);
}
#midLeftTop{
  height: 50%;
  width: 60%;
  margin: auto;
  position: absolute;
  top:-40px;
  left:20%;
  border-radius: 50%;
  /* background-color: #c31835; */
}
#midLeftBottom{
  height: 44%;
  width: 88%;
  padding: 2% 2% 2% 10%;
  font-size: 20px;
  margin-top: 50%;
  /* background-color: #2e2527; */
}
#midLeftBottom>button{
  height: 35px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#midLeftBottom>span{
  margin-left: 10px;
  margin-right: 20px;
}
#overViewDivOuter{
  height: 100%;
  width: 100%;
  padding-top: 20px;
  /* background-color: #c31835; */
}
#gridContainer{
  display: grid;
    width: 96%;
    padding: 2%;
    /* background-color: #c31835; */
    gap: 20px;
    grid-template-columns: repeat( auto-fill, minmax(280px, 1fr));
}
.gridBox{
  height: 68px;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  justify-content: space-between;
}
.gridBox>button{
  height: 30px;
    width: 60px;
    border: none;
    border-radius: 10px;
}